*.rbc
capybara-*.html
.rspec
*.orig
rerun.txt
pickle-email-*.html

/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*

/public/system
/public/uploads
/public/assets
/public/packs
/public/packs-test

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/coverage/
/spec/tmp
/test-results/
/.cucumber-reports/
/spec/examples.txt
simplecov_resultset.json

config/master.key
# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml
.env
.env*.local

/.bundle
/vendor/bundle

.rvmrc

node_modules/
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/app/assets/builds/*
!/app/assets/builds/.keep

/solid_queue/*
!/solid_queue/.keep
/solid_cache/*
!/solid_cache/.keep

.byebug_history
.pry_history
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db