<!DOCTYPE html>
<html>
<head>
  <title>JobTracker – Sign In</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body class="auth-bg">
  <div class="auth-container">
    <%= yield %>
  </div>
</body>
</html>
